.header {
  display: flex;
  height: 40px;
  justify-content: space-between;
  &__left {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  &__menu {
    background: none;
    border: 1px solid transparent;
    padding: 0.9rem;
    aspect-ratio: 1/1;
    z-index: 3;

    &.history {
      background: none;
      border: 1px solid transparent;
      padding: 0.9rem;
      aspect-ratio: 1/1;
      z-index: 3;
    }
    &:hover {
      cursor: pointer;
      background-color: var(--hover-color);
      border: 1px solid var(--hover-border-color);
    }
    &:active {
      background-color: var(--active-color);
    }
    &__hamburger {
      display: block;
      position: relative;
      &,
      &::before,
      &::after {
        width: 2rem;
        height: 3px;
        border-radius: 1rem;
        background-color: var(--black);
        transition: transform 250ms ease-in-out;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
      }

      &::before {
        top: 6px;
      }

      &::after {
        bottom: 6px;
      }
      &.active {
        transform: rotate(0.625turn);
        &::before {
          transform: rotate(90deg) translateX(-6px);
        }
        &::after {
          opacity: 0;
        }
      }
    }
  }

  &__aside {
    position: fixed;
    inset: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all ease-in-out 0.25s;
    will-change: transform, visibility;
    &__nav {
      width: 80%;
      padding-top: 6rem;
      height: 100%;
      background-color: var(--aside-background-color);

      &__ul {
        &__icon {
          margin-left: 1rem;
          width: 2.5rem;
          height: auto;
          border-left: 1px solid transparent;
        }
        &__element {
          display: flex;
          align-items: center;
          padding: 1rem 0;
          gap: 1.5rem;
          width: 100%;
          font-size: 1.6rem;
          font-family: "Fira Sans", sans-serif;
          &.active {
            border-left: 3px solid var(--active-border-color);
          }
        }
      }
    }
    &.active {
      visibility: visible;
      transform: translateX(0);
    }
    &__button {
      position: absolute;
      inset: 0;
      z-index: -1;
      backdrop-filter: blur(2px);
    }
  }
  &__title {
    font-size: 2rem;
  }
  &__history {
    display: flex;
    align-items: flex-end;
    position: fixed;
    inset: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: all ease-in-out 0.25s;
    will-change: transform, visibility;
    &__section {
      width: 100%;
      height: 60%;
      background-color: var(--aside-background-color);
    }
    &.active {
      visibility: visible;
      transform: translateY(0);
    }
    &__button {
      position: absolute;
      inset: 0;
      z-index: -1;
      backdrop-filter: blur(2px);
    }
  }
}
