<header class="header">
  <div class="header_left">
    <button class="header_menu" (click)="toggleMenu()">
      <span class="header_menu_hamburger" [class.active]="isMenuOpen"></span>
    </button>
    <aside class="header_aside" [class.active]="isMenuOpen">
      <nav class="header_aside_nav">
        <ul class="header_aside_nav_ul">
          <li *ngFor="let link of options; index as i">
            <button
              class="header_aside_nav_ul_element"
              (click)="changeActiveLink(i)"
              [class.active]="link.active"
            >
              <img class="header_aside_nav_ul_icon" [src]="link.icon" />
              {{ link.name }}
            </button>
          </li>
        </ul>
      </nav>
      <button
        aria-label="Close Button"
        class="header_aside_button"
        (click)="toggleMenu()"
      ></button>
    </aside>
    <h1 class="header_title">{{ activeName }}</h1>
  </div>
  <div class="header_right">
    <button class="header_menu" (click)="toggleHistory()">
      <span class="header_menu_history-icon icon"></span>
    </button>
    <div class="header_history" [class.active]="isHistoryMenuOpen">
      <div class="header_history_section">
        <span
          *ngIf="!history.length; else elseHistory"
          class="header_history_section_title"
          >There's no history yet</span
        >
        <ng-template #elseHistory>
          <div class="header_history_section_history">
            <div class="header_history_section_history_buttons">
              <button
                *ngFor="let element of history"
                class="header_history_section_history_buttons_element"
              >
                {{ element }}
              </button>
            </div>
          </div>
        </ng-template>
      </div>
      <button
        aria-label="Close Button"
        class="header_aside_button"
        (click)="toggleHistory()"
      ></button>
    </div>
  </div>
</header>
