<header class="header">
  <div class="header__left">
    <button class="header__menu" (click)="toggleMenu()">
      <span class="header__menu__hamburger" [class.active]="isMenuOpen"></span>
    </button>
    <aside class="header__aside" [class.active]="isMenuOpen">
      <nav class="header__aside__nav">
        <ul class="header__aside__nav__ul">
          <li *ngFor="let link of options; index as i">
            <button
              class="header__aside__nav__ul__element"
              (click)="changeActiveLink(i)"
              [class.active]="link.active"
            >
              <img class="header__aside__nav__ul__icon" [src]="link.icon" />
              {{ link.name }}
            </button>
          </li>
        </ul>
      </nav>
      <button
        aria-label="Close Button"
        class="header__aside__button"
        (click)="toggleMenu()"
      ></button>
    </aside>
    <h1 class="header__title">{{ activeName }}</h1>
  </div>
  <div class="header__right">
    <button class="header__menu" (click)="toggleHistory()">
      <span class="header__menu__history-icon"></span>
    </button>
    <div class="header__history" [class.active]="isHistoryMenuOpen">
      <div class="header__history__section"><h2>History</h2></div>
      <button
        aria-label="Close Button"
        class="header__history__button"
        (click)="toggleHistory()"
      ></button>
    </div>
  </div>
</header>
